li {
	display: inline;
	list-style: none;
}

span {
	display: block;
	border: 1px solid black;
	margin: 25px;
}

.n-child section:nth-child(2n+1) {
	border: 1px solid black;
}

.n-child section:first-child {
	border: none;
}